.list {
  padding: 1rem;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  /*background-color: RGBA(255, 255, 255, 0.05);*/
  background-color: darkslategrey;
}
