<mat-card>
  <h1>Exchange cryptocurrency</h1>
  <div>From</div>
  <ng-template matStepLabel>Pick cryptocurrency</ng-template>
  <mat-form-field appearance="fill">
    <mat-label>Ammount</mat-label>
    <input id="value" matInput placeholder="Ex. 1800.32" type="number" #valueofinput required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Cryptocurrency</mat-label>
    <mat-select [(ngModel)]="selectedCryptoCurrency" required>
      <mat-option *ngFor="let coin of cryptoList" [value]="coin">
        {{coin.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="selectFormControl.hasError('required')">You must make a selection</mat-error>
  </mat-form-field>
  <div>To</div>
  <mat-form-field appearance="fill">
    <mat-label>Currency</mat-label>
    <mat-select [(ngModel)]="selectedCurrency" required>
      <mat-option *ngFor="let currency of currencyList" [value]="currency">
        {{currency.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="selectFormControl.hasError('required')">You must make a selection</mat-error>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" (click)="onCalculate(valueofinput.value)">Calcualte</button>
  <br>
  <br>
  <p>Current price for 1 {{selectedCryptoCurrency.symbol}} coin = {{currentPrice}} {{selectedCurrency.symbol}}</p>
  <p>You have {{valueofinput.value}} {{selectedCryptoCurrency.symbol}}
    worth {{userCashVale}} {{selectedCurrency.symbol}}</p>
</mat-card>
