<html lang="en">
<head>
  <title>WG</title>
</head>
<body>
<mat-toolbar>
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div>My Application</div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #snav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/helloworld">Hello World!</a>
      <a mat-list-item routerLink="/exchange">Cryptocurrency to currency</a>
      <a mat-list-item routerLink="/findandreplace">Find and replace</a>
      <a mat-list-item routerLink="/board">Drag and drop lists</a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <router-outlet></router-outlet>
      <!--      <app-board></app-board>-->
      <!--      <app-api></app-api>-->
      <!--      <app-currencyform></app-currencyform>-->
      <!--      &lt;!&ndash;  <app-buycrypto></app-buycrypto>&ndash;&gt;-->
      <!--      <app-findandreplace></app-findandreplace>-->
      <!--      <button (click)="loadCoinsTable();" mat-raised-button color="primary">Load all coins table</button>-->
      <!--      <app-coinstable *ngIf="loadCoinsTableFlag"></app-coinstable>-->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-footer></app-footer>
</body>
</html>


