<mat-card>
  <h1>Buy cryptocurrency</h1>
  <div>From</div>
  <ng-template matStepLabel>Pick cryptocurrency</ng-template>
  <mat-form-field appearance="fill">
    <mat-label>Value</mat-label>
    <input id="value" matInput placeholder="Ex. 1800.32" type="number" #valueofinput required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Currency</mat-label>
    <mat-select required>
      <mat-option *ngFor="let coin of currencyList" [value]="coin">
        {{coin.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div>To</div>
  <mat-form-field appearance="fill">
    <mat-label>Cryptocurrency</mat-label>
    <mat-select required>
      <mat-option *ngFor="let coin of cryptoList" [value]="coin">
        {{coin.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary">Calcualte</button>
  <br>
</mat-card>
